@import url('../../css/font.css');
@import url('../../css/globals.css');

body {
    background: var(--blue-bg);
    color: var(--lightblue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    color: var(--lightblue);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background: rgba(11, 2, 61, 0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.back {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

main {
    margin-top: 20vh;
}

h3 {
    text-align: left;
    margin: 30px;
}

table {
    position: relative;
    width: 100vw;
    padding: 20px;
}

td {
    padding: 12px;
    word-wrap: normal;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
    color: var(--gold);
}

.mobile {
    display: none;
    padding: 30px;
}

.desktop {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 1600px) {
    table {
        font-size: 10px;
    }
}